ui-gmap-google-map(center='map.center' zoom='map.zoom')
	ui-gmap-marker(ng-repeat="marker in markers" 
									idkey="marker.id"
									coords="marker.coords" 
									options="marker.options")
	ui-gmap-polyline(path="coords")
